.shopping-icon {
    position: absolute;
    /* left: 90%;
    transform: translateX(-90%); */
    right: 1em;
    /* size: 70px; */
    margin: auto 0;
}

.shopping-cart__notifications {
    position: absolute;
    right: 0;
    top: -3px;
    background: #06f;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 1em;
    width: 1em;
    line-height: 1em;
    text-align: center;
    font-size: 0.68em;
}