.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-list__item {
    background-color: #f7f8f9;
    border-radius: 0.3em;
    flex: 1 1 0;
}

.product-list__item_item {
    display: block;
    padding: 1.3em;
    color: #00112c;
    text-decoration: none;
}

.product-list__item__title {
    font-size: 0.81em;
    font-weight: 700;
    margin: 10px 0 0;
}

.product-list__item__image {
    display: block;
    margin: auto;
    height: 100px;
    max-width: 100px;
}

.product-list__item__price {
    font-size: 0.68em;
    margin: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .product-list__item {
        margin: 1em;
        min-width: 25%;
    }
    .product-list__item__title {
        font-size: 1em;
        text-align: center;
        margin: 23px 0 6px;
    }
    .product-list__item__price {
        font-size: 0.81em;
    }
}

@media (min-width: 1024px) {
    .product-list__item__image {
        height: 240px;
        max-width: 240px;
    }
}